# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# go mod tidy all
gmt.sh

#test bin
cmd/goele-btc/goele-btc
cmd/mkwallet-btc/mkwallet-btc
cmd/rmwallet-btc/rmwallet-btc
cmd/goele-firo/goele-firo
cmd/mkwallet-firo/mkwallet-firo
cmd/rmwallet-firo/rmwallet-firo
cmd/goele-dash/goele-dash
cmd/mkwallet-dash/mkwallet-dash
cmd/rmwallet-dash/rmwallet-dash
wallet/cmd/boltdmp/bd
wallet/cmd/boltdmp/boltdmp
client/btc/rpc_test/client
client/firo/rpc_test/client
client/dash/rpc_test/client

#profiling
cmd/goele-btc/goele-btc.prof
cmd/goele-btc/tmp/
cmd/goele-firo/goele-firo.prof
cmd/goele-firo/tmp/
cmd/goele-dash/goele-firo.prof
cmd/goele-dash/tmp/

#vscode
.vscode/
__debug_bin*

#scratchpads
wallet/wltfiro/_scratchpad.txt
wallet/wltdash/_scratchpad.txt
electrumx/elxfiro/_scratchpad.txt
